.App {
  height: 2100px;
  background-image: url(../public/jupiter.jpg);
  background-size: cover;
  background-repeat:no-repeat ;


}
.profil {
  margin-top:100px;
}
.gambarCarousel {
  width:500px;
}

.fotoCid {
  width:350px;
 
}

.Navbar {
  background-image: url(../public/universe.jpg);
  background-size: cover;
  background-repeat:no-repeat ;
}
.App-link {
  color: #61dafb;
}
.footer{
margin-top: 500px;
  
}
.corousel {
  margin-top: 300px;
}
.jumbotron {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .App{
    background-size: contain;
    height:2030px;
    background-repeat:repeat ;
  }
  .gambarCarousel {
    width:300px;
  }
  .footer{
    margin-top:290px;
}
  .fotoCid {
  width: 70%;
  max-width: 300px;
  margin-left: 50px;
}.corousel {
  margin-top: 300px;
}

}


